/* Allgemeine Seitenstile */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Überschrift */
h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #1838ab;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    position: relative;
}

/* Small button on the upper corners */
.title-left-button, .title-right-button {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f4f4f4;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.title-left-button {
    left: 10px;
}

.title-right-button {
    right: 10px;
}

.title-left-button:hover, .title-right-button:hover {
    background-color: #00ff48;
    color: #ffffff;
}